@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,dl,dt,dd,img,div,input{
    padding: 0;
    margin:  0;
}

img{
    border: none;
}
input,select,textarea{
    outline: none;
}
textarea{
    resize: none;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.float_l{
    float: left;
}
.float_r{
    float: right;
}
.clearFix{
    clear: both;
}


